*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'work Sans', sans-serif;
    direction: rtl;

}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
    
}

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
    
}

@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
    
}

/* start header */

.header {
    z-index: 1;
    background-color: white;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width: 160px;
    margin-bottom: 5px;
    height: 72px;
  }
  .header .links {
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: #333;
    margin-bottom: 13px;
    height: 2px;
    transition: 0.3s;

  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffc0cb transparent;
    position: absolute;
    right: 5px;
    top: -20px;
  }
  .header .links:hover ul {
    display: block;
  }
  .header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
  }
  .header .links ul li a:hover {
    padding-right: 25px;
    background-color: #ffc0cb;

  }
  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
  }
/* end header */ 

/* start landing*/

.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    right: 0;
    top:-40px;
    width: 100%;
    height: 100%;
    background-color: #ffc0cb;
    z-index: -1;
    transform: skewY(-6deg) ;
    transform-origin: top left;

}
.landing .container{
    min-height: calc(100vh - 77px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
.landing .image img{
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px){
    .landing .image{
        display: none;
    }
}
.landing .go-down {
    color: #ffc0cb;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.landing .go-down:hover{
    color: #fc8ea1;
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
}
.landing .text{
    flex: 1;
}
@media (max-width:991px){
    .landing .text{
        text-align: center;
    }
}
.landing .text h1{
    font-size: 35px;
    color: #3db463;
    font-weight: bold;
}

.landing .text p{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
@media (max-width:991px){
    .landing .text p { 
        font-size:56px;
        font-weight: bold;

    }
    .landing .text h1 { 
        font-size: 64px;
        font-weight: bold;
    }
}
@media (max-width: 768px) {
    .landing .text{
        margin-bottom: 25px;
    }
    .landing .text h1 { 
        font-size: 40px;
        font-weight: bold;
    }
    .landing .text p { 
        font-size:32px;
        font-weight: bold;

    }  
}
/* end landing*/

@keyframes up-and-down{
    0%,100%{
        top:0;
    }
    50%{
        top:-50px
    }
}

@keyframes bouncing{
    0%,10%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-20px);
    }
}